name: deploy hosted site

on:
  push:
    branches:
      - release
      - beta

jobs:
  deploy-webapp:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - run: cd app && npm install && npm run build
      env:
        REACT_APP_AUTH_PROVIDER: auth0
        REACT_APP_SHARE_URL: ${{ secrets.SHARE_URL }}

    - name: Push directory to another repository
      uses: cpina/github-action-push-to-another-repository@v1.6
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'app/build'
        destination-github-username: ${{ github.repository_owner }}
        destination-repository-name: chat-with-gpt-public
        target-branch: main